 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */

img {
  width: 150px;
  height: 150px;
}

body{
  background-color: lightblue;
  color: #585050;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
